@{
    ViewData["Title"] = "Index Home";
}

<p class="p-main">El desayuno es la comida fundamental del día, ya que consumirlo o no, nos afecta de forma notable a corto y a largo plazo.</p>
<br>
<p class="p-main">Se ha demostrado que los niños que no desayunan o que solo toman un vaso de leche, rinden menos en el colegio que los que ingieren un desayuno adecuado.</p>
<br>
<p class="p-main">Estudios recientes afirman que el desayunar ayuda a acelerar el metabolismo, lo cual es un factor beneficioso para prevenir la obesidad.</p>

@section SideBar{
    <p>¡Bienvenido!</p>
    <br>
    <img src="~/img/1.jpg" />
    <br>
    <img src="~/img/3.jpg" />
    <br>
    <img src="~/img/4.jpg" />
}
